IF NOT EXISTS (SELECT 1 FROM APP_CONFIG_MASTER WHERE CONFIG_NAME = 'WarehouseName' and CONFIG_TYPE = 'GLOBAL') 
	INSERT INTO APP_CONFIG_MASTER (UID,CONFIG_NAME,CONFIG_TYPE) VALUES  (NEWID(),'WarehouseName','GLOBAL');
IF NOT EXISTS (SELECT 1 FROM APP_CONFIG_MASTER WHERE CONFIG_NAME = 'DeviceID' and CONFIG_TYPE = 'GLOBAL') 
	INSERT INTO APP_CONFIG_MASTER (UID,CONFIG_NAME,CONFIG_TYPE) VALUES  (NEWID(),'DeviceID','GLOBAL');

ALTER TABLE PRODUCT_MASTER ADD CONTEXT_PATH NVARCHAR(255) NULL,
							   PORT	NVARCHAR(45) NULL,
							   SCHEME NVARCHAR(45) NULL;

ALTER TABLE API_MASTER ADD SCHEME_LIST NVARCHAR(255);

ALTER TABLE CUSTOM_FIELD ALTER COLUMN FIELD_DEPENDENCY_SHOW_CONDITION NVARCHAR(255);

ALTER TABLE CUSTOM_FIELD ALTER COLUMN FIELD_DEPENDENCY_HIDE_CONDITION NVARCHAR(255);

ALTER TABLE CUSTOM_FIELD ALTER COLUMN FIELD_DEPENDENCY_ENABLE_CONDITION NVARCHAR(255);

ALTER TABLE CUSTOM_FIELD ALTER COLUMN FIELD_DEPENDENCY_DISABLE_CONDITION NVARCHAR(255);

ALTER TABLE CUSTOM_FIELD ALTER COLUMN FIELD_DEPENDENCY_REQUIRED_CONDITION NVARCHAR(255);